.infoCardHeadline {
    font-family: serif;
    font-size: 2.25rem;
    border: 2px solid black;
    padding: 24px;
    color: black;
    font-weight: bold;
}


.infoCardCallActionContainer :global(.vtex-button) {
    color: white;
    background-color: gray;
    border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    color: gray;
    background-color: white;
    border: transparent;
}

.infoCardContainer--vintage {
    max-width: 1260px;
    margin: 0;
    padding: 0;
    background-color: #edcfd1;
    
}

.infoCardContainer--metal {
    max-width: 1260px;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
  }